{% extends 'base.html.twig' %}

{% block title %}History{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 900px; width: 95%; font: 18px/1.5 sans-serif; text-align: center;
}
    .example-wrapper code { background: #f7e5f7; padding: 2px 6px; }
    .box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.div1{
    margin: 1em auto;
}
</style>

<div class="box">
<div class="div1">
    <img src="http://127.0.0.1:8000/assets/porte.jpg" height="200%" width="200%">
</div>

<div class="example-wrapper">
    <h1>Bonne lecture</h1>

Une première agglomération semble s'implanter au début de l'époque romaine sur un petit col surplombant la Drôme et le franchissement du vallon de Meyrosse, au carrefour entre la vallée et la voie menant au Trièves.
De nombreux indices montrent l'extension de l'urbanisation au Ier siècle.

IIe siècle : la ville de Die compte de nombreux monuments. Capitale des Voconces, elle remplace Luc-en-Diois dans cette fonction. Le titre de colonie (colonia Dea Augusta Vocontiorum) lui est décerné vers la fin du IIe siècle ou dans le courant du IIIe siècle. La ville devient un centre important du culte de Cybèle (attesté par sept inscriptions tauroboliques).

Nombreuses découvertes gallo-romaines : statues, bijoux, monnaies, stèles, inscriptions, et trois autels tauroboliques (MH) du IIIe siècle2.

Entre 285 et 305, alors que l'empire montre des signes de faiblesse, la ville s'entoure d'un rempart qui protège une surface urbanisée de 25 hectares. La région est en crise et certains quartiers périphériques sont déjà abandonnés. Le rempart de Die est long de deux kilomètres environ. Lors de l'édification, des fragments de monuments antiques sont réemployés.
La ville avait deux portes principales : la porte Saint-Pierre, démolie en 1891, à l'ouest, et la porte Saint-Marcel à l'est. Lors de la construction du rempart, un arc monumental du IIe siècle a été démonté pierre par pierre pour être réinséré dans la fortification du IVe siècle.
L'axe reliant les deux portes peut être considéré comme étant le decumanus. Le cardo, s'il existe, n'a pas été localisé.
Une route vers Grenoble passait par le massif de Glandasse (sud du Vercors) pour aboutir à Chichilliane. Sur ce plateau ont été retrouvés les fronts de taille de carrières de pierres extraites puis amenées à Die par le Pas de Chabrinel.

325 : Le premier évêque attesté est Nicaise. Il est le seul représentant des églises des Gaules au Premier concile de Nicée. Le diocèse sera réuni en 1276 à celui de Valence, puis à nouveau distinct de ce dernier à la fin du XVIIe siècle, avant d'être supprimé à la Révolution.     <ul>
        <li>Page d'accueil : <code><a href="/"> Ici</a></code></li>
    <li>Venez découvrir les points d'intêrets ici : <code><a href="/pointOfInterest"> Point d'intêrets </a></code></li>
    </ul>
</div>
</div>
{% endblock %}
